extends layout
block content
  div.row
    div.col-md-12
      h1= title
  div.row
    div.col-md-4
      h4 Save new user
      form(action='/saveUser', method='post', id='saveuser')
        div.form-group
          input(name='name', class='form-control', id='name', placeholder='Name', maxlength='75', required='required', autocomplete="off")
        div.form-group
          input(name='surname', class='form-control', placeholder='Surname', maxlength='75', required='required', autocomplete="off")
        div.form-group
          input(name='idNum', class='form-control', placeholder='SA Id Number', maxlength='13', required='required', autocomplete="off")
        div.form-group
          input(name='email', class='form-control', placeholder='Email', maxlength='255', type='email', required='required', autocomplete="off")
        div.form-group
          input(name='cell', class='form-control', placeholder='cell Number', maxlength='15', required='required', autocomplete="off")
        div.form-group
          div.input-group
            input(name='address', class='form-control', placeholder='Address', maxlength='255', required='required', autocomplete="off")
            div.input-group-btn
              button(type='button', class='btn btn-primary', id='useMapForAddress') Map
        div.form-group
          a(class='btn btn-primary', id='frm-submit-saveuser', href='javascript:void(0)', role='button') Save User
    div.col-md-2
      p
    div.col-md-6
      h4 Search users
      div.row
        div.col-md-12
          div.form-group
            input(name='search', id='search', class='form-control', placeholder='Search by name or id', maxlength='75')
      div.row
        div.col-md-12
          table.table#userlookupListing
            thead
              tr
                th First Name
                th Surname
                th ID Number
                th Email
                th Cell
                th Address
            tbody
  div.row.hide#maplocationcontainer
    div.col-md-6
      input(id='pac-input', class='controls', type='text', placeholder='search something')
      div#map
      
block pageScript
  script(type='text/javascript', src='/js/user-main.js')
