doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(content='IE=edge',http-equiv='X-UA-Compatible')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/gmap.css')
    style(type='text/css').
      .error{color:red;font-size:10px}
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js')
    
  body
  div(id='alert-bar', class='alert alert-success hide', role='alert', style="position: fixed;z-index: 999;width: 50%;left: 25%;")
  div.container-fluid
    block content
  block pageScript       